#configuration of the application
APP_PORT=5000
APP_TITLE='GestionApp'
APP_DESCRIPTION='GestionApp es una aplicación web para la gestión de horarios y persmisos de los empleados de una empresa.'
APP_VERSION='1.0.0'
APP_URL='gestionapp.com'

#database configuration mysql
MYSQL_DATABASE_USERNAME='root'
MYSQL_DATABASE_PASSWORD='12052023'
MYSQL_DATABASE_PORT=3306
MYSQL_DATABASE_NAME='gestionapp'
MYSQL_DATABASE_HOST='127.0.0.1'

#database configuration mongodb
MONGODB_DATABASE_USERNAME='root'
MONGODB_DATABASE_PASSWORD='12052023'
MONGODB_DATABASE_PORT=27017
MONGODB_DATABASE_NAME='gestionapp'
MONGODB_DATABASE_HOST=''

#servidor de correo
SMPT_MAIL_HOST='smtp.gmail.com'
SMPT_MAIL_PORT=587
SMPT_MAIL_EMAIL='prueba@'+APP_URL
SMPT_MAIL_PASSWORD='password'
